{% extends "base.html" %}
{% block content %}
<div>
    <div class="card">
        <div class="card-header">End-points</div>
            <div class="card-body">
                <a href="http://localhost:5000/crawl">http://localhost:5000/crawl</a>
            </div>
            <div class="card-body">
                <a href="http://localhost:5000/extract">http://localhost:5000/extract</a>
            </div>
            <div class="card-body">
                <p>Obs.: Nos domínios não consegui localizar notícias sobre a B3 e mudei a busca para "Ibovespa"</p>
                <p>Dominios: <a href="http://financenews.com.br/feed/">financenews.com.br/feed/</a> <a href="https://www.ultimoinstante.com.br/feed/">ultimoinstante.com.br/feed/</a></p>
            </div>
            
        <!--<div class="card-footer"></div>-->
    </div>
</div> 
{% endblock %}


